.title {
    font-family: sans-serif;
    color: #aaaaaa;
    text-align: center;
    font-size: 32px; /* Increase font size for the title */
}

.tabContainer {
    width: 100%;
    height: 100vh;
}

#calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabContainer .buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px; /* Increase padding for larger buttons */
    font-family: sans-serif;
    font-size: 24px; /* Increase font size for buttons */
    background-color: #eee;
}

.tabContainer .buttonContainer button:hover {
    background-color: #d7d4d4;
}

/* Adjustments for number buttons */
.tabContainer .buttonContainer button[data-number="true"] {
    padding: 30px; /* Larger padding for number buttons */
    font-size: 28px; /* Larger font size for number buttons */
}

.tabContainer .tabPanel {
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 32px; /* Increase font size for tab content */
    display: none;
}

#loginForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
